<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PublicFeed" value="https://pkgs.dev.azure.com/oncoursesystems/36ec3112-f793-46fe-974d-a7f8df67d90d/_packaging/PublicFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>
